body {
    background-color: #009578;
}

.main {
    margin: auto;
    margin-top: 8vh;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 80px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#head {
    margin-left: 80px;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    padding-bottom: 10px;
}

#button {
    border: none;
    width: 100%;
    background-color: #009578;
    color: white;
    font-weight: 500;
    height: 40px;
    margin-top: 10px;
    font-size: large;
}

#button:hover {
    border: 1px solid black;
}

#button:focus {
    box-shadow: 2px 2px 5px black;
}

#Google {
    margin-top: 17px;
    padding: 7px;
    padding-left: 25px;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #009578 !important;
    border-radius: 5px;
    background-image: url(./images-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 13%;
    font-size: medium;
    font-weight: 700;

}

#Google:hover {
    background-color: rgb(66, 66, 66);
    color: white;
    border: none;
}

#Google:focus {
    box-shadow: 2px 2px 3px black;
    border: none;
}

#para {
    margin-left: 130px;
    font-weight: bold;
}

#link {
    color: #009578;
}

/* Media Querry */

@media screen and (max-width : 1070px) {
    .main {
        width: 60%;
    }

    #Google {
        background-position: 8%;
    }
}

@media screen and (max-width : 710px) {
    .main {
        width: 80%;
    }
}

@media screen and (max-width : 580px) {
    .main {
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #button {
        width: 100%;
        position: relative;
        right: 33%;
    }

    #Google {
        width: 100%;
        position: relative;
        right: 33%;
        background-position: 20%;
    }

    #para {
        margin-left: 0;
    }

    #head {
        margin-left: 0;
    }

}

@media screen and (max-width : 380px) {
    #Google {
        background-position: 2%;
        font-size: small;
    }
}