body {
    background-color: #009578;
}

.main {
    margin: auto;
    margin-top: 10vh;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 80px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#head {
    margin-left: 80px;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    padding-bottom: 10px;
}

#button {
    border: none;
    width: 100%;
    background-color: #009578;
    color: white;
    font-weight: 500;
    height: 40px;
    margin-top: 10px;
    font-size: large;
}

#button:hover {
    border: 1px solid black;
}

#button:focus {
    box-shadow: 2px 2px 5px black;
}

#para {
    margin-left: 130px;
    font-weight: bold;
}

#link {
    color: #009578;
}

/* Media Querry */

@media screen and (max-width : 1070px) {
    .main {
        width: 60%;
    }
}

@media screen and (max-width : 710px) {
    .main {
        width: 80%;
    }
}

@media screen and (max-width : 580px) {
    .main {
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #button {
        width: 100%;
        position: relative;
        right: 33%;
    }

    #para {
        margin-left: 0;
    }

    #head {
        margin-left: 0;
    }

}